html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, i, font, img, ins, kbd, q, s, samp, small, strike, strong, b,  sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, input, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	vertical-align: baseline;
	background-repeat: no-repeat;
	background-position: center;
	font-family: "ProximaNova", sans-serif;
	color: #414142;
}

/** Header **/

#header, .demi_col, .container_inscription{
	-webkit-box-shadow:0 5px 10px #aaa;
		   -moz-box-shadow:0 5px 10px #aaa;
		        box-shadow:0 5px 10px #aaa;
}

#header, #header_bo{
	position: relative;
	top: 0;
	left: 0;
	background-color:#604e4a;
	width: 100%;
	height:40px;
	padding: 0 30px 0 50px;
}

#titre_barre{
	color: #fff;
	font-size: 25px;
	padding-top: 2px;
	float: left;
}

#panier_barre{
	float: right;
	color: #fff;
	font-size: 25px;
	padding-top: 5px;
	padding-right: 150px;
}

#connexion_barre{
	float: right;
	color: #fff;
	padding-top: 10px;
	padding-right: 100px;
}

#connexion_barre a{
	color: #fff;
	text-decoration: none;
}

#connexion_barre a:hover{
	text-decoration: underline;
}

/** Navigation **/

#nav{
	position: relative;
	display: inline-block;
	padding: 0;
	font-variant: small-caps;
	font-size: 30px;
	height: 80px;
}

#nav_logo{
	float: right;
	margin-top: -90px;
	margin-right: 100px;
}

#nav li{
	display: inline;
}

#nav li a{
	text-decoration: none;
	float: left;
	padding: 10px;
	background-color: #fff;
	color: #414142;
	border-bottom: 1px;
	border-bottom-color: #3d272a;
	border-bottom-style: solid;
}

#nav li a:hover{
	background-color: #fff;
	padding-bottom: 12px;
	border-bottom: 2px;
	border-bottom-color: #3d272a;
	border-bottom-style: solid;
	margin: -1px;
	color:#604e4a;
}

/** Conteneur principal **/

.container{
	position: relative;
	background-color: #fff;
	max-width:984px;
	margin : 100px auto;
}

#slide {
	height:300px;
	margin-bottom: 30px;
}


/** Catalogue page d'accueil **/

.demi_col{
	position: relative;
	float: left;
	margin: 2%;
	width: 46%;
	background-color: #ded6cb;
	border-top: 10px solid #604e4a;
}

.demi_col_titre{
	margin-top: 2px;
	margin-left: 50px;
	font-size: 25px;
	letter-spacing: 2px;
	color: black;
	font-variant: small-caps;
}

.demi_col_prix{
	margin: -40px 0 40px 85px;
	font-size: 12px;
}

.demi_col_tdescription{
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}

.demi_col_description{
	position: absolute;
	margin-right: 90px;
	margin-top: -325px;
	float: left;
	width: 50%;
}

.images, .container_photo_produit {
    display: table;
    width: 100%;
	margin: 30px 0 50px 0;
}



/** Catalogue **/

.container_catalogue{
	position: relative;
	background-color: #fff;
	max-width:984px;
	margin : 0 auto;
}

.container_menu_catalogue{
	float: left;
	padding-right: 500px;
	display: inline-block;
}

.catalogue{
	margin-left: 150px;
	border: 1px solid #edefe9;
	display: inline-block;
}

#menu_catalogue{
	position: absolute;
	text-decoration: none;
	margin-right: 5px;
}

#menu_catalogue li{
	display: list-item;
}

#menu_catalogue li a{
	text-decoration: none;
	color: #414142;
	font-size: 11px;
	margin-left: 20px;
}

#menu_catalogue li a:hover{
	text-decoration: underline;
	font-weight: bold;
}

#menu_catalogue li a:hover p{
	text-decoration: underline;
	font-weight: bold;
}

.produit_catalogue{
	float:right;
    height: 320px;
    width: 200px;
    color: #fff;
    margin: 50px 5px 5px 2px;
}

.search_catalogue{
	float: right;
	opacity: 0.6;
}

.sort_by{
	padding: 5px;
}

/** Connexion & Inscription **/

.container_inscription{
	position: relative;
	float: left;
	margin: 1%;
	width: 46%;
	height: 300px;
}

#container_titre_inscription{
	height: 40px;
	background-color: #ded6cb;
	padding-top: 15px;
	padding-left: 38%;
}

#titre_inscription{
	font-size: 20px;
	letter-spacing: 2px;
	color: #414142;
}

.inscription_form{
	color: #414142;
	margin: 10% 0 0 10%;
}

.inscription_form_champs{
	border: 2px solid #ded6cb;
	border-radius: 4px 4px 4px 4px;
}

.inscription_form label{
	display: block;
	float: left;
	width: 160px;
}

.inscription_bouton a{
	margin-left: 35%;
	margin-bottom: 10px;
	color: #414142;
	font-size: 15px;
}

.inscription_bouton a:hover{
	color:black;
}

/** Formulaire d'inscription **/

#inscription_form_titre{
	font-size: 2em;
	margin-bottom: 20px;
	margin-left: 15%;
}

#inscription_form input:not([type="submit"]){
    width: 92%;
    margin-top: 8px;
    margin-bottom: 3px;
    padding: 10px 5px 10px 30px;
    border: 1px solid rgb(178, 178, 178);
    box-sizing : content-box;
    border-radius: 3px;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    transition: all 0.2s linear;
}

.inscription_form_submit{
	width: 20%;
	margin-left: 35%;
	margin-top: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
    cursor: pointer;
    border: 1px solid rgb(178, 178, 178);
    box-sizing : content-box;
    border-radius: 3px;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    transition: all 0.2s linear;
}

/** Fiche Produit **/

.container_fproduit{
	position: relative;
	background-color: #fff;
	max-width:984px;
	margin : 0 auto;
	border: 2px solid #ded6cb;
	border-radius: 4px;
	height: 500px;
}

#container_titre_fproduit{
	height: 40px;
	background-color: #ded6cb;
	padding-top: 15px;
	padding-left: 40%;
}

#titre_fproduit{
	font-size: 20px;
	letter-spacing: 2px;
	color: #414142;
}

.container_photo_produit{
	width: 40%;
	float: left;
	margin-left: 6%;
}

.preview_photo_fproduit{
	display: block;
	margin: 30px 20px 50px 10px;
	width: 4%;
	height: 5%;
}

.container_presentation_fproduit{
	position: relative;
	width: 100%;
	border: 2px solid #ded6cb;
	font-size: 0.8em;
	margin-top: 10px;
}

.container_description_fproduit{
	position: absolute;
	display: block;
	width: 100%;
	margin-left: -2px;
	margin-top: 20px;
	border: 2px solid #ded6cb;
	font-size: 0.8em;
}

#presdesc_fproduit{
	margin: 2%;
}

.info_fproduit{
	text-align: right;
	display: block;
	font-size: 20px;
	letter-spacing: 2px;
	color: #414142;
}

#marque_fproduit{
	opacity: 0.7;
}

#prix_fproduit, #ref_fproduit{
	opacity: 0.9;
	margin-bottom: 2px;
	margin-top: 2px;
}

#select_fproduit{
	padding:3px;
    margin-top: 2%;
    margin-left: 2%;
    background: #ded6cb;
    color:#414142;
    border:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

#bouton_submit_fproduit{
	text-align: center;
	display: block;
	padding: 5px 10px 5px 10px;
	margin-top: 30px;
	float: right;
	color: #414142;
	background-color: #ded6cb;
	font-size: 15px;
	cursor: pointer;
    border:none;
    outline:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

/** Panier **/

.container_panier{
	position: relative;
	background-color: #fff;
	max-width:984px;
	margin : 0 auto;
	border: 2px solid #ded6cb;
	border-radius: 4px;
}

.container_panier_contraste{
	background-color: #ded6cb;
}

#nav_panier{
	width: 750px;
	margin: 0 auto;
	font-size: 1.2em;
}

#nav_panier li{
	padding: 5px;
	margin: 5px;
	display: inline-block;
}

#nav_panier li a{
	padding: 5px;
	margin: 5px;
	display: inline-block;
	text-decoration: none;
}

#nav_panier_encours{
	border-bottom: 1px solid black;
	font-weight: bold;
}

#table_panier{
	font-size: 0.9em;
	text-align: center;
}

#table_panier td{
	vertical-align:middle;
}

#total_panier{
	float: right;
}

#total_panier li{
	display: inline-block;
	padding: 5px;
}

#promo_panier{
	max-width:984px;
	margin : 0 auto;
	border: 2px solid #ded6cb;
	border-radius: 4px;
}

#form_promo_panier{
	padding-top: 3px;
	padding-bottom: 5px;
}

#avantages_panier{
	width: 20%;
	float: right;
	background-color: #ded6cb;
	padding: 5px;
}

#avantages_panier p{
	float: right;
}

#totalttc_panier{
	width: 20%;
	float: right;
	border: 2px solid #ded6cb;
	border-radius: 4px;
	padding: 5px;
}

#totalttc_panier p{
	float: right;
}

.container_adresse_panier{
	width: 30%;
	margin: 0 auto;
	border: 2px solid #ded6cb;
	margin-top: 20px;
	margin-bottom: 20px;
}

.container_adresse_panier p{
	text-align: center;
}

.modif_supprimer_adresse_panier{
	text-align: left;
}

.livraison_panier{
	width: 20%;
	padding: 5px;
}

.container_paiementcb_panier{
	margin: 0 auto;
	width: 80%;
	border: 2px solid #ded6cb;
	margin-top: 20px;
	margin-bottom: 20px;
}

.form_paiementcb_panier{
	width: 40%;
	margin-left: 5px;
}

#form_paiementcb_panier input{
	border: 1px solid #ded6cb;
	margin-bottom: 2px;
	margin-top: 2px;
}

#crypto_paiementcb_panier{
	opacity: 0.8;
	font-size: 0.6em;
}

#img_cb{
	float: right;
	width: 40%;
}

#paypal_panier{
	margin-left: 5px;
}

/** Mon Compte **/

.container_menu_moncompte{
	float: left;
	width: 30%;
	height: 350px;
	line-height: 12px;
	margin-top: 30px;
}

.container_menu_moncompte2{
	float: left;
	width: 30%;
	height: 350px;
	margin-top: 30px;
}

.container_moncompte{
	position: relative;
	background-color: #fff;
	max-width:984px;
	margin : 0 auto;
	border: 2px solid #ded6cb;
	border-radius: 4px;
}

.container_infos_moncompte{
	float: right;
	width: 70%;
}

.container_historique_moncompte{
	float: right;
	width: 30%;
	margin: 20px 50px 20px 50px;
	border: 2px solid #ded6cb;
	text-align: left;
}

.container_remboursement_moncompte{
	width: 60%;
	margin-right: 50px;
	border: 2px solid #ded6cb;
	float: right;
}

.container_remboursement_moncompte p{
	margin-top: 20px;
}

#titre_moncompte{
	text-align: center;
	padding: 10px;
	font-size: 1.3em;
}

#vp_pub_moncompte{
	margin: 0 auto;
	float: right;
	width: 100%;
	margin-top: 80px;
}

#submit_remboursement{
	padding: 5px;
	margin-left: 150px;
}


/** Contact **/

.container_contact{
	position: relative;
	background-color: #fff;
	max-width:984px;
	margin : 0 auto;
}

.container_contact h1{
	font-size: 1.3em;
	margin: 0 auto;
}


/** Général **/

.retour_shopping{
	padding:3px;
    background: #fff;
    border: 2px solid #ded6cb;
    color:#414142;
    border:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

.btn_continuer{
	padding:3px;
    background: #fff;
    border: 2px solid #ded6cb;
    color:#414142;
    border:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    float: right;
}

.left{
	float: left;
	margin-left: 10px;
}

.right{
	float: right;
	margin-right: 10px;
}

.text_center{
	text-align: center;
}

.bold{
	font-weight: bold;
}

input{
	border: 1px solid #ded6cb;
	margin-bottom: 2px;
	margin-top: 2px;
}

ul {
list-style:none;
margin-left:0;
padding-left:0;
}

.inline{
	display: inline;
}

.clear2{
	.clear:after {content: "."; clear: both; display: block; visibility:
	hidden; line-height: 0; height: 0;}
	.clear { display: inline-block;}
	html[xmlns] .clearfix { display: block;}
	* html .clearfix { height: 1%;}
}

.clear{
	clear: both;
}



/** Footer **/

.footer{
	position: relative;
	clear: both;
	height: 100px;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: #ded6cb;
	border-top: 10px solid #604e4a;
}

.footer2{
	position: absolute;
	clear: both;
	height: 100px;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: #ded6cb;
	border-top: 10px solid #604e4a;
}

.footer_text{
	text-align: center;
	padding: 30px 0 0 21px;
	border: 0;
	letter-spacing: 2px;
}

.footer_text a{
	text-decoration: none;
}

.footer_text a:hover{
	text-decoration: underline;
}


@media (min-width:768px){

.demi_col{width:46%;}

}

@media (max-width: 767px) {

.demi_col{width:96%;}

}



/*************
			****************
							****

								BACK OFFICE

							****
			****************
 ************/

/** Accueil **/

#mode_admin{
	color: #fff;
	padding-top: 10px;
	margin-right: 100px;
	float: right;
}

#logo_bo{
	display: block;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.container_bo{
	width: 100%;
	top: 0;
	position: relative;
}

#nav_bo{
	margin-left: 31%;
	margin-top: 100px;
}

.nav_bo{
	display: inline;
	width: 18%;
	height: 18%;
}

.h1_bo{
	font-size: 1.3em;
	margin-bottom: 20px;
	text-align: center;
}

.nav_gestion{
	float: left;
	display: inline;
	font-size: 0.8em;
}

/** Gestion **/


#produit_form input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]) {
    width: 30%;
    margin-top: 8px;
    margin-bottom: 3px;
    padding: 8px 5px 8px 20px;
    border: 1px solid rgb(178, 178, 178);
    box-sizing : content-box;
    border-radius: 3px;
}

.produit_form{
	color: #414142;
	margin: 10% 0 0 10%;
}

.produit_form_champs{
	border: 2px solid #ded6cb;
	border-radius: 4px 4px 4px 4px;
}

.produit_form label{
	display: block;
	float: left;
	width: 300px;
}

.produit_form h1{
	font-size: 1.3em;
	margin-bottom: 20px;
}


#submit_ajoutp{
	padding: 5px;
	margin-left: 300px;
	margin-top: 20px;
}

.titre_tab{
	font-size: 1.3em;
	margin-bottom: 20px;
	text-align: center;
}